-- Add missing staff_id column to user_profiles
ALTER TABLE user_profiles ADD COLUMN IF NOT EXISTS staff_id uuid REFERENCES staff(id) ON DELETE SET NULL;

-- Verify the column was added
SELECT column_name FROM information_schema.columns 
WHERE table_name = 'user_profiles' AND column_name = 'staff_id';
