-- Check if STU47856843 has proper linkage
SELECT 
    'STU47856843 Check' as check_type,
    s.id as student_id,
    s.enrollment_id,
    s.name,
    up.id as profile_id,
    up.enrollment_id as profile_enrollment,
    up.student_id as profile_student_id,
    CASE 
        WHEN up.id IS NOT NULL AND up.student_id = s.id THEN ' LINKED'
        ELSE ' NOT LINKED'
    END as status
FROM students s
LEFT JOIN user_profiles up ON up.enrollment_id = s.enrollment_id
WHERE s.enrollment_id = 'STU47856843';

-- Check auth user for STU47856843
SELECT * FROM auth.users WHERE email LIKE '%47856843%';
