-- Test case-insensitive lookup (if frontend sends lowercase)
SELECT * FROM user_profiles WHERE enrollment_id ILIKE 'stu74255222';

-- Check exact casing in database
SELECT enrollment_id FROM user_profiles WHERE enrollment_id = 'STU74255222';

-- Test the students lookup too
SELECT * FROM students WHERE enrollment_id = 'STU74255222';
