-- Check STU47856843 linkage
SELECT 
    'STU47856843 Status' as check,
    s.id as student_id,
    s.enrollment_id,
    s.name,
    up.id as profile_id,
    up.student_id as profile_links_student,
    au.email as auth_email,
    CASE 
        WHEN up.id IS NOT NULL AND up.student_id = s.id AND au.id = up.id THEN ' READY'
        ELSE ' NEEDS FIX'
    END as status
FROM students s
LEFT JOIN user_profiles up ON up.enrollment_id = s.enrollment_id
LEFT JOIN auth.users au ON au.id = up.id
WHERE s.enrollment_id = 'STU47856843';

-- Check if student exists
SELECT * FROM students WHERE enrollment_id = 'STU47856843';
