-- Test the exact query from AuthContext
SELECT * FROM user_profiles WHERE enrollment_id = 'STU74255222';

-- Also test case-insensitive
SELECT * FROM user_profiles WHERE enrollment_id ILIKE 'STU74255222';

-- Check if there are any hidden characters
SELECT enrollment_id, length(enrollment_id), encode(enrollment_id::bytea, 'hex') FROM user_profiles WHERE enrollment_id LIKE '%STU74255222%';
